extends layout 
block content 
    if currentUser 
        if currentUser.status === 'admin'
            if allUsers 
                ul 
                    for user in allUsers 
                        li 
                            h3= user.firstName
                            h4= `username: ${user.username}`
                            h5= user._id + " --- " + user.status
                            a(href=`/user/${user._id}` class='btn btn-primary') view user
                            form(action="/user/${user._id}/delete" method='post')
                                input(type="hidden" name='id' value=`${user._id}`)
                                button(type="submit" class='btn btn-primary') delete user 
                     
